In [36]:
import pymongo
import pandas as pd
import json
from bs4 import BeautifulSoup
from bs4 import BeautifulSoup as bs
import pandas
import requests
from pymongo import MongoClient
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import os

In [2]:
# Setup splinter
#executable_path = {'executable_path': ChromeDriverManager().install()}
#browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/98.0.4758.80/chromedriver_mac64.zip
Driver has been saved in cache [/Users/stellaschubert/.wdm/drivers/chromedriver/mac64/98.0.4758.80]

In [13]:
url = 'https://redplanetscience.com/'
response = requests.get(url)

In [14]:
soup = BeautifulSoup(response.text, 'html.parser')

In [5]:
#print(soup.prettify())

In [15]:
soup.title

In [16]:
soup.title.text

'News - Mars Exploration Program'

In [17]:
results= soup.find_all('div', class_='title')
for result in results:
    title= result.find('p', class_='title')
    print(title)

In [18]:
paragraphs= soup.find('p')
for paragraph in paragraphs:
    print(paragraphs.text)

NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities

In [51]:
try = soup.find_all("id", text="content_title")

SyntaxError: invalid syntax (<ipython-input-51-deaebbb9840a>, line 1)

In [25]:
#title = soup.select_one("#news > div:nth-child(1) > div > div.col-md-8 > div > div.content_title").text
#print("Latest Title:", title)
par_text = soup.select_one("#news > div:nth-child(1) > div > div.col-md-8 > div > div.article_teaser_body").contents[0]

AttributeError: 'NoneType' object has no attribute 'contents'

In [11]:
soup.body.find_all("article_teaser_body").text
results = soup.find_all('div', class_='caption')
results

AttributeError: ResultSet object has no attribute 'text'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [ ]:
title=soup.select('<div class="col-md-12"><div class="content_title">')
title

In [ ]:
ti=for title in soup.find_all('<div class="col-md-12"><div class="content_title">'):
    print(ti)
#<div class="content_title">New Selfie Shows Curiosity, the Mars Chemist</div>

In [ ]:
title = soup.select_one("#news > div:nth-child(1) > div > div.col-md-8 > div > div.content_title").contents[0]
print("Latest Title:", title)

In [ ]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [ ]:
# Define database and collection
db = client.commerce_db
collection = db.items

In [29]:
#JPL MARS SPACE IMAGES

url = "https://spaceimages-mars.com/"

In [31]:
response = requests.get(url)

In [33]:
soup = BeautifulSoup(response.text, 'lxml')
rel_image_url = soup.select_one("body > div.header > div > a")['href']
image_url = (url + rel_image_url)
print("Featured Image URL:", image_url)

Featured Image URL: https://spaceimages-mars.com/

In [37]:
#MARS FACTS
url = "https://galaxyfacts-mars.com/"
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [38]:
mars_earth_comparison_df = tables[0]
mars_table_df = tables[1]

mars_earth_comparison_df.rename(columns = {0: 'Mars - Earth Comparison', 1: 'Mars', 2: 'Earth'}, inplace = True)
#mars_earth_comparison_df.set_index("Mars - Earth Comparison", inplace = True)
mars_earth_comparison_df.drop(mars_earth_comparison_df.index[0], inplace=True)

mars_earth_comparison_df
#mars_table_df

  Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [40]:
mars_earth_comparison_df.to_dict('split')

{'index': [1, 2, 3, 4, 5, 6],
 'columns': ['Mars - Earth Comparison', 'Mars', 'Earth'],
 'data': [['Diameter:', '6,779 km', '12,742 km'],
  ['Mass:', '6.39 × 10^23 kg', '5.97 × 10^24 kg'],
  ['Moons:', '2', '1'],
  ['Distance from Sun:', '227,943,824 km', '149,598,262 km'],
  ['Length of Year:', '687 Earth days', '365.24 days'],
  ['Temperature:', '-87 to -5 °C', '-88 to 58°C']]}

In [39]:
#mars_earth_comparison_df = mars_earth_comparison_df.reset_index(drop=True)
html_table = mars_earth_comparison_df.to_html()
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars - Earth Comparison</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [41]:
mars_earth_comparison_df.to_html('mars_table.html')

In [42]:
#MARS HEMISPHERES
url = "https://marshemispheres.com/"

In [43]:
response = requests.get(url) 
soup = BeautifulSoup(response.text, 'lxml')

In [44]:
links = soup.select("#product-section > div.collapsible.results > div > a")

hemisphere_image_urls = []

In [48]:
for link in links:
    #print("Visiting:", link['href'])
    response = requests.get(url + link['href'])
    #print(response) 
    soup = BeautifulSoup(response.text, 'lxml')
    
    title = soup.select_one("#results > div.wrapper > div > div.cover > h2").contents[0]
    rel_image_url = soup.select_one("#wide-image > div > ul > li:nth-child(1) > a")['href']
    hemisphere_image_url = {}
    hemisphere_image_url['title'] = title
    hemisphere_image_url['img_url'] = (url + rel_image_url)
    hemisphere_image_urls.append(hemisphere_image_url)

In [49]:
#hemisphere_image_urls
hem_df = pd.DataFrame(hemisphere_image_urls)
hem_df

,title,img_url
0,Cerberus Hemisphere Enhanced,https://marshemispheres.com/images/full.jpg
1,Schiaparelli Hemisphere Enhanced,https://marshemispheres.com/images/schiaparell...
2,Syrtis Major Hemisphere Enhanced,https://marshemispheres.com/images/syrtis_majo...
3,Valles Marineris Hemisphere Enhanced,https://marshemispheres.com/images/valles_mari...

In [53]:
import scrapy